body {
  padding: 3%;
  background-image: url("../assets/Wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.App {
  text-align: center;
}

.add {
  float: right;
  cursor: pointer;
}
